<h1>Pharmacy Index Page</h1>
<% @pharmacy.each do |pharmacy| %>
  <h3>Pharmacy: <%= pharmacy.name %></h3>
  <p>Created at: <%= pharmacy.created_at %></p>
  <%= link_to "Edit #{pharmacy.name}", "/pharmacies/#{pharmacy.id}/edit" %><br><br><br>
<% end %>
<%= link_to "Create New Pharmacy", "/pharmacies/new" %>
