<h1>Create New Pharmacy</h1></br>
<form action="/pharmacies" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  Pharmacy Name:
  <input type='text' name="name"/><br/><br/>
  Pharmacist:
  <input type='text' name="pharmacist_in_charge"/><br/><br/>
  Number of Employees:
  <input type='number' name="num_employees"/><br/><br/>
  City:
  <input type='text' name="city"/><br/><br/>
  <p>Open 24 Hours?</p>
  <label for="true">True</label>
  <input type='radio' id="true" value="true" name="open_24_hours"><br/>
  <label for="false">False</label>
  <input type='radio' id="false" value="false" name="open_24_hours"><br/><br/><br/>
  <input type="submit" value="Create Pharmacy"/>
</form>