<h1>Create New Pharmacy</h1><br>
<form action="/pharmacies" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  Pharmacy Name:
  <input type='text' name="name"/><br/><br/>
  Pharmacist:
  <input type='text' name="pharmacist_in_charge"/><br/><br/>
  Number of Employees:
  <input type='number' name="num_employees"/><br/><br/>
  City:
  <input type='text' name="city"/><br/><br/>
  <p>Open 24 Hours?</p>
  <input type='radio' name='open_24_hours' value =true id = "true" required/>
  <label for ="true">True</label>
  <input type='radio' name='open_24_hours' value =false id = "false" />
  <label for ="false">False</label><br/><br><br>
  <input type="submit" value="Create Pharmacy" id="submit"/>
</form>